*{
    position: relative;
}

.c-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.dloptions{
    position: relative;
    z-index: 20;
}

.progress {
    width: 16rem;
    margin-bottom: 3px;
    margin-left: 16px;
    background: #e1e4e8;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
    background-size: 300% 100%;
    -webkit-animation: progress-animation 2s linear infinite;
    animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

form {
    position: relative;
    width: 18rem;
}

.chosen-value,
.value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.chosen-value {
    height: 4rem;
    padding: 1rem;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
    position: relative;
    border-radius: 0px;
    width: 254px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    cursor: pointer;
    background: #181818;
    color: #fff;
    align-items: center;
    background: url(../img/general/imgd.png) no-repeat right rgba(131, 131, 131, 0.25);
    background-size: 12px 12px;
    background-position: 220px 26px;
    box-shadow: 0px 0px 5px 2px rgba(24, 24, 24, 0.81);
    -webkit-appearance: none;
    padding-left: 20px;
    z-index: 20;

}

.chosen-value::-webkit-input-placeholder {
    color: #ffffff;
}

.chosen-value:hover {
    background-color: #d2d0d0;
    box-shadow: 0px 10px 5px 5px rgba(24, 24, 24, 0.81);
    cursor: pointer;
    font-style: italic;
    transition: all 0.3s ease-in;
}

.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:focus, .chosen-value.open {
    background: url(../img/general/img.png) no-repeat right rgba(131, 131, 131, 0.25);
    background-size: 12px 12px;
    background-position: 220px 26px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #030303;
    color: #ffffff;
}

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #fafafa;
}

.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    width: 254px;
    margin-left: 17px;
}

.value-list.open {

    max-height: 320px;
    overflow: auto;
    z-index: 20;
}

.value-list a, .value-list option {
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    padding: 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
    z-index: 20;
}

.value-list a:hover, .value-list option:hover {
    background-color: #d2d0d0;
    font-style: italic;
    justify-content: space-between;
    transition: all 0.5s ease-in;
}

.value-list a.closed, .value-list option.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}

#city-selecter, ol, ul {
    padding-left: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}