
.mySlides {
    display: none;
}

#preloader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    overflow: hidden;
    zoom: 100%;
    position: fixed;
    z-index: 5;

    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#images img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1;
        transform: translate(0, -100%);
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
        transform: translate(0, -100%);
    }
}


.fade1 {
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 1.5s;
    animation-name: fade1;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
    from {
        opacity: .4
    }
    to {
        opacity: 1;
        transform: translate(0, 100%);
    }
}

@keyframes fade1 {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
        transform: translate(0, 100%);
    }
}
